.dub
.vs
docs.json
__dummy.html
docs/
/libmanifested
libmanifested.so
libmanifested.dylib
libmanifested.dll
libmanifested.a
libmanifested.lib
libmanifested-test-*
libmanifested.sln
*.exe
*.o
*.obj
*.lst
*.pdb
